<%- include('partials/head') %>

<h1>Person</h1>

<a href="/">Back</a>

<% if(person){ %>
  <h2><%= person.name %></h2>
  <p>Squad: <%= person.squad_id %>
  <p><img src="<%= person.avatar %>">
  <p>bio: <%- person.bio %>


  <form action="/detail" method="POST">
      <input type="text" value="65" name="id">
      <input type="checkbox" value="1" name="like">
      <button>Post</button>
  </form >
<% } %>

<!-- <form action="/person" method="POST">
    <fieldset>
      <label for="say">What greeting do you want to say?</label>
      <input name="say" id="say" value="Hi" />
    </fieldset>
    <fieldset>
      <label for="to">Who do you want to say it to?</label>
      <input name="to" id="to" value="Mom" />
    </fieldset>

    <button>Send my greetings</button>

  </form> -->

<%- include('partials/foot') %>
