{% render 'partials/head.liquid', title: person.name %}

<h1>{{ person.name }}</h1>

<p>
    Animal: <a href="/animals/{{ person.fav_animal }}">{{ person.fav_animal }}</a>
</p>
<p>
    Team: <a href="/teams/{{ person.team }}">{{ person.team }}</a>
</p>



{% comment %} <a href="/">Back</a> {% endcomment %}





{% render 'partials/foot.liquid', squads: squads %}